.section-nav {
  display: none;
}
div.article {
  width: 100%;
  margin: 0;
}
.aside {
  display: none;
}
.interactive-body {
  float: left;
  width: 100%;
}

#gfx-loading {
  font-family: "BentonSans", BentonSans, sans-serif;
  text-align: center;
  width: 100%;
  height: 100px;
}
#gfx-loading p {
  margin: 10px;
  font-weight: bold;
  color: #999;
}
#gfx-loading img {
  margin: 20px auto;
}

#charts {
  overflow: hidden;
  margin-bottom: 100px;
}
.year {
  width: 200px;
  height: 170px;
  float: left;
  margin: 0 3px 10px 0;
  background: #ffffff;
  border: #fff 1px solid;
}
.hover {
  background: #e5e5e5;
  border: #fba500 1px solid;
}
#gfx-wrap {
  position: relative;
  font-family: "BentonSans", BentonSans, sans-serif;
}
#gfx-wrap br,
#gfx-loading br {
  display: block;
}
#gfx-wrap h1 {
  font-size: 130%;
  margin: 1em 0 0.5em;
}

#gfx-tooltip {
  padding: 5px;
  width: auto;
  min-width: 78px;
  max-width: 220px;
  background-color: #fff;
  border: 2px #ccc solid;
  position: absolute;
  top: 50px;
  z-index: 1000;
  font-size: 14px;
  text-align: left;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
#gfx-tooltip .tip,
#gfx-tooltip .tip-inner {
  position: absolute;
  width: 0;
  height: 0;
  border-top-width: 0;
  background: none;
}
#gfx-tooltip .tip {
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 7px solid #ccc;
  top: -7px;
  right: auto;
  left: 50%;
  margin-left: -5px;
}
#gfx-tooltip .tip-inner {
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-bottom: 7px solid #fff;
  bottom: auto;
  top: 2px;
  left: -4px;
}

.quiet {
  color: gray;
  font-size: 80%;
}

.gfx-under {
  position: absolute;
  top: 0;
  left: 0;
}
.figcaption {
  margin: 4em 0 3em;
  clear: both;
}
.aside {
  clear: both;
}
@media only screen and (min-width: 480px) {
  /* responsive */
}

#gfx-landscape {
  display: none;
  width: 240px;
  margin: 0 auto;
  font-family: "BentonSans", BentonSans, sans-serif;
  font-size: 10px;
}
#gfx-landscape-turn {
  width: 30px;
  height: 20px;
}
@media only screen and (max-device-width: 800px) and (orientation: portrait) {
  #gfx-landscape {
    display: block;
  }
}

.body {
  font-family: benton-sans, sans-serif;
  font-weight: 400;
  background-color: #f9f9f9;
}

.page-title {
  font-family: benton-sans, sans-serif;
  font-size: 2.27143em;
  margin-top: 24px;
  margin-bottom: 0;
  color: #323232;
  font-weight: 500;
}
.sub-title {
  color: #4d4d4d;
  font-family: benton-sans, sans-serif;
  font-size: 0.82857em;
  display: block;
}

.container {
   display: flex; /* or inline-flex */
}

.l-inner {
  padding-left: 1.42857em;
  padding-right: 1.42857em;
  margin-left: auto;
  margin-right: auto;
}

.l-header {
  background: #2d4b65;
  height: 20px;
}

.ds {
    font-size: 1.71429em;
    font-weight: 400;
    font-family: benton-sans, sans-serif;
    margin-top: 0;
color: #323232;
}

.ds-text {
    margin-top: 0;
    margin: 1em 0;
    margin-top: 1em;
    font-weight: 300;
    font-family: benton-sans, sans-serif;
    line-height: 1.3;
color: #4d4d4d;
    font-size: 14px;
}

ul {
    margin-left: 0;
    padding: 0 0 0 40px;
    margin: 1em 0;
    margin-left: 0px;
    line-height: 1.3;
color: #4d4d4d;
    font-family: "Benton Sans","Benton Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
font-weight: 400;
}

li a {
    text-decoration: underline;
}

a {
    color: #4d4d4d;
    text-decoration: none;
    cursor: pointer;
    -webkit-transition: color 100ms ease-in;
    -moz-transition: color 100ms ease-in;
    -o-transition: color 100ms ease-in;
    transition: color 100ms ease-in;
    font-size: 0.82857em;
    font-weight: 200;
}

a:hover {
    text-decoration: underline;
    color: #323232;
}

.l-inner::after, .l-standard .field--body::after {
    content: "";
    display: table;
    clear: both;
    padding-bottom: 20px;
}

.l-main{
    background: #f4f4f4;
    padding: 16px 0;
}

.custom-gallery .gallery-list-options .form-type-select {
    float: left;
    padding-top: 6px;
    padding-bottom: 6px;
}

.form__select:hover, .form-type-select:hover {
    border: 1px solid #656565;
}

.form__select, .form-type-select {
    -webkit-transition: border-color 150ms ease-in;
    -moz-transition: border-color 150ms ease-in;
    -o-transition: border-color 150ms ease-in;
    transition: border-color 150ms ease-in;
    position: relative;
    display: block;
    border: 1px solid #b2b2b2;
    border-radius: 1px;
    background: white;
    padding-top: 11.5px;
    padding-bottom: 11.5px;
    line-height: 1.3;
color: #4d4d4d;
    font-family: "Benton Sans","Benton Sans";
font-weight: 100;
    width: 250px;
}

.form__select select, .form-type-select select {
    position: relative;
    z-index: 5;
    display: inline-block;
    background: transparent;
    font-size: 14px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 0;
    width: 100%;
    padding: 0 30px 0 6px;
}

button, select {
    text-transform: none;
}

button, input, select, textarea {
    font-family: inherit;
    font-size: 100%;
    margin: 0;
    vertical-align: baseline;
    *vertical-align: middle;
}

.form__select::after, .form-type-select::after {
    transition: border-color 150ms ease-in;
    position: absolute;
    z-index: 1;
    width: 0;
    height: 0;
    right: 8px;
    content: '';
    border-style: solid;
    border-width: 6px 4px 0 4px;
    border-color: #656565 transparent transparent transparent;
    
}

.form__select::after, .form-type-select::after {
    top: 50%;
    transform: translateY(-50%);
}

.custom-gallery .list-options {
    width: 100%;
    height: 70px;
    padding-top: 24px;
    margin-bottom: 25px;
    padding-bottom: 25px;
}

.dropdown {
    padding-bottom: 20px;
}